.body-container {
    display: flex;
    justify-content: space-around;
    margin: 80px;
    
}

.intro-txt {
    border-radius: 5px;
    display: flex;
    font-size:x-large;
    margin-left: 300px;
    margin-right: 300px;
}