body {
  margin: 0;
}

div.text-600,
div.text-900,
h1, h2, h3 {
    font-family: "Philosopher", sans-serif;
    color: #817474 !important;
}

.p-button {
    background-color: #817474 !important;
}

.p-inputtext:enabled:focus {
    border-color: #817474 !important;
}